---
title: Multi Search | Home
layout: default
---
<h1><strong>Multi-Search for Language Learning</strong></h1><br>
<h2><strong>Choose your Language:</strong></h2>
<h3>
  <ul>
    {% assign sorted_languages = site.data.languages | sort %}
    {% for lang_hash in sorted_languages %}
      {% assign lang = lang_hash[1] %}
      {% if lang.enabled %}
        {% if lang.extra_user_info %}
          <li><a href="html/{{ lang.name | downcase }}.html">{{ lang.name }} Multi-Search ({{ lang.extra_user_info }})</a></li><br>
        {% else %}
          <li><a href="html/{{ lang.name | downcase }}.html">{{ lang.name }} Multi-Search</a></li><br>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</h3>
